* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.header {
  font-size: 1.5em;
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 9%;
  transform: translate(-50%, -50%);
}

.header button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  font-size: 1.7em;
  border: 3px solid black;
  border-radius: 5px;
  padding: 3px;
  transition: transform 300ms ease-in;
}

.header button:hover {
  transform: scale(1.1);
}

.fa-sync-alt {
  font-size: 5px;
}

.timer {
  font-family: "Roboto", sans-serif;
  border: 3px solid black;
  padding: 0.3em;
  border-radius: 5px;
  margin-top: 1em;
  width: 7em;
  text-align: center;
  background-color: aliceblue;
  font-size: 30px;
}

.count {
  width: 2em;
  padding: 0.3em;
  margin-top: 10px;
  border: 3px solid black;
  background-color: rgb(165, 224, 46);
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  background: center/cover;
}

.background img {
  width: 100%;
  height: 100vh;
}

.items_bug {
  position: absolute;
  width: 5em;
  height: 5em;
}

.bug img {
  width: 100%;
  height: 100%;
}

.items_carrot {
  position: absolute;
  margin-top: -20em;
  margin-left: 10em;
  width: 5em;
  height: 5em;
}

.carrot img {
  width: 100%;
  height: 100%;
}

.no-item {
  display: none;
}

.popup_container {
  position: absolute;
  z-index: 130;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000090;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 150px;
  padding: 0.6em;
  border: 1px solid black;
  border-radius: 10px;
}

.popup_hide {
  display: none;
}

.popup_message {
  font-size: 2em;
  padding: 0.5em;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
}

.popup_refresh {
  width: 5em;
  height: 5em;
  border-radius: 8px;
  background-color: blanchedalmond;
}

.fa-sync-alt {
  font-size: 3em;
  border: none;
  outline: none;
  background-color: blanchedalmond;
}

.popup_refresh:hover {
  cursor: pointer;
}
